.agent {
    background-image: url('../../img/agent-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 75px;
    &__img {
        display: block;
        width: 102px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    &__header {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        margin-bottom: 25px;
    }
    &__descr {
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
        color: #ffffff;
    }
}