@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .menu {
        padding-bottom: 20px;
        &__wrapper {
            column-gap: 20px;
        }
        &__form-wrapper {
            padding-top: 5px;
            flex-wrap: wrap;
            flex-direction: column;
        }
        &__phone {
            &-descr, &-link {
                text-align: left;
            }
        }
    }
    .btn {
        &_menu {
            margin-top: 5px;
            height: 35px;
        }
    }
    .opportunities {
        &__list {
            &-wrap {
                width: 350px;
            }
        }
    }
    .benefits {
        &__list {
            &_img {
                width: 100%;
            }
        }
    }
    .prices {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 20px;
            &_item {
                margin: 0 auto;
            }
        }
        
        
    }
    .divider {
        width: auto;
    }
    .footer {
       &_divider {
           width: auto;
       } 
    }
}